@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-poppins: 'Poppins', sans-serif;
}
body,
* {
  margin: 0;
  font-family: var(--font-poppins);
  padding: 0;
  position: relative;
}

.linear-card {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.02) 50%
  );
}

.bg-border {
}

.bg {
  background: linear-gradient(
    90deg,
    rgba(12, 14, 21, 1) 0%,
    rgba(22, 29, 44, 1) 50%
  );
}

.bg-green-grad {
  background: rgb(25, 35, 26);
  background: linear-gradient(
    90deg,
    rgba(25, 35, 26, 1) 0%,
    rgba(34, 51, 35, 1) 50%
  );
}
